/* Styling for all pages */
:root {
  --bg-lighter: #b1f0f0;
  --bg-darker: #006b6b;
  --theme-blue: #063c5e;
  --white: #fff;
  --yellow: #fccf14;
  --black: black;
  --grey: #c2c2c2;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 100vw;
  min-width: 750px;
  margin: 0;
  overflow-x: hidden;
  font-size: 1.4rem;
  background-image: linear-gradient(var(--bg-lighter), var(--bg-darker));
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: var(--theme-blue);
  padding: 0.5em 0 0.1em 0;
}

header li {
  list-style-type: none;
  padding: 20px 30px 0px 30px;
}

header a {
  text-decoration: none;
  color: var(--white);
  font-family: "Fredericka the Great", cursive;
}

header a:visited {
  color: var(--white);
}

header a:hover,
footer a:hover {
  color: var(--yellow);
  font-weight: bold;
}

header img {
  width: 300px;
  padding-bottom: 20px;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  float: right;
  flex-wrap: wrap;
  align-content: flex-start;
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  background-color: var(--theme-blue);
  color: var(--white);
  border-top: solid var(--yellow) 5px;
  font-family: "Fredericka the Great", cursive;
}

footer li {
  list-style-type: none;
}

footer a {
  color: var(--white);
  text-decoration: none;
  display: block;
}

footer h3 {
  color: var(--yellow);
}

footer p {
  margin: 0;
}

footer div {
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}

footer img {
  width: 100%;
  height: auto;
}

.follow-us-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.follow-us-text {
  text-align: center;
}

.main-div {
  padding: 20px;
  background-color: var(--white);
  border: solid 5px var(--theme-blue);
  margin: 5em;
}

.main-div h1,
.main-div h2,
.index-main-div h2 {
  color: var(--theme-blue);
  text-align: center;
  font-family: "Fredericka the Great", cursive;
}
.main-div p {
  padding: 0 1em;
}

/* Styling for update.html, create.html, and login.html */
.form-update-container,
.form-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.form-container input[type="submit"] {
  width: 20%;
  margin-top: 20px;
}

.form-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: 70%;
  margin: auto;
}

.form-row input,
.form-row select,
.form-row textarea{
  margin: 10px;
  padding: 5px;
  width: 70%;
}

.form-row label {
  width: 50%;
  margin: auto;
  text-align: right;
}

/* Styling for admin.html  */
.table-admin-container {
  width: 45%;
  margin: auto;
  text-align: right;
}

.table-admin-container table {
  width: 100%;
  margin: auto;
  border: solid var(--black) 1px;
  border-collapse: collapse;
}

.table-admin-container th {
  background-color: #c2c2c2;
  padding: 0.5em;
  border: solid var(--black) 1px;
  border-collapse: collapse;
}

.table-admin-container td {
  padding: 0.3em;
  border: solid var(--black) 1px;
  border-collapse: collapse;
}

.table-admin-container tr:nth-child(even) {
  background-color: var(--grey);
}

input[value="DELETE"] {
  background-color: var(--yellow);
  color: var(--theme-blue);
  width: 80px;
}

input[value="ADD NEW COMIC"],
input[type="submit"] {
  background-color: var(--yellow);
  color: var(--theme-blue);
  display: block;
  width: 150px;
  margin: auto;
}

input[value="EDIT"] {
  background-color: var(--theme-blue);
  color: var(--white);
  width: 80px;
}

/* Styling for index.html */
.index-main-div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--white);
  border: solid 5px var(--theme-blue);
  margin: 3em 5em;
}

.index-container div {
  width: 300px;
  text-align: center;
}

.index-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.comic-index {
  width: 200px;
  height: auto;
}

.details a {
  text-decoration: none;
}

.details a:link {
  color: var(--theme-blue);
}

.details a:visited {
  color: var(--theme-blue);
}

.details a:hover {
  color: #006b6b;
  font-weight: bold;
}

.details a:active {
  color: var(--theme-blue);
  font-weight: bold;
  background-color: var(--yellow);
}

.index-main-div input[type=button] {
  background-color: var(--yellow);
  color: var(--theme-blue);
  width: 150px;
  margin: 50px;
}

/* Styling for individual comic cards */

.top-card {
  width: 600px;
  margin: auto;
  background-color: var(--theme-blue);
  border-radius: 50px 50px 0 0;
  border-top: solid var(--yellow) 5px;
  border-right: solid var(--yellow) 5px;
  border-left: solid var(--yellow) 5px;
  height: 750px;
}

.card-title {
  color: var(--yellow);
  text-align: center;
}

.card-img {
  display: block;
  width: 400px;
  margin: auto;
  border-radius: 50px;
  border-image: 50px;
  border: solid 5px var(--white);
  text-align: center;
}

.bottom-card {
  width: 600px;
  margin: auto;
  border-radius: 0 0 50px 50px;
  border: solid var(--yellow) 5px;
  padding: 25px;
  background-color: var(--white);
}

span {
  color: var(--theme-blue);
  font-weight: bold;
  text-decoration: underline;
}

/* .card-main-div {
  padding: 20px;
  margin: 3em 5em;
} */
